h1 {
    font-size: 4rem;
}
body {
    padding: 70px;
    width: calc(100vw - 160px);
    height: 100vh;
}

.alert {
    position: sticky;
    top: 0;
    background: yellow;
    color: black;
    text-align: center;
}

.page {
    background-color: white;
    box-shadow: 2px 0 .2em rgba(0, 0, 0, 0.6), -2px 0 .4em rgba(0, 0, 0, 0.6);
    padding: 70px;
}
.page .top-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.page summary {
    background-image: linear-gradient(90deg,grey,transparent);
    background-size: 800px;
    background-repeat: no-repeat;
    border-radius: 10px 10px 10px 10px;
    padding-left: 10px;

}

li {
    font-size: 1.2rem;
}